# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DOOM files
*.WAD

# XCode
xcuserdata
xcscheme

# Mac OS X
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.xccheckout

# CocoaPods
Pods

# http://www.gnu.org/software/automake
Makefile.in

# http://www.gnu.org/software/autoconf
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing

# Produced by autogen.sh
CMDLINE
Makefile
.deps
config.h
config.hin
config.log
config.status
chocolate-doom.png
chocolate-setup.png
INSTALL
chocolate-doom.6
chocolate-doom.cfg.5
default.cfg.5
droplay
config.make
Info-gnustep.plist
Info.plist
rpm.spec
setup-manifest.xml
setup-res.rc
resource.rc
stamp-h1
calculator
guitest

# Chocolate Doom
*.desktop
chocolate-doom
chocolate-server
chocolate-setup

/doom-ai/doom-ai.xcodeproj/project.xcworkspace/xcuserdata/trevorr.xcuserdatad/UserInterfaceState.xcuserstate

/doom-ai/doom-ai.xcodeproj/xcuserdata/trevorr.xcuserdatad/xcschemes/doom-ai.xcscheme
